[v-cloak]{
	display: none;
}
.tabs{
	font-size: 14px;
	color: #657180;
}
.tabs-bar:after{
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #d7dde4;
	margin-top: -1px;
}
.tabs-tab{
	display: inline-block;
	padding: 4px 16px;
	margin-right: 6px;
	background: #fff;
	border: 1px solid #d7dde4;
	cursor: pointer;
	position: relative;
}
.tabs-tab-active{
	color:#3399ff;
	border-top: 1px solid #3399ff;
	border-bottom: 1px solid #fff;

}
.tabs-tab-active:before{
	content: '';
	display: block;
	height: 1px;
	background: #3399ff;
	position: absolute;
	top:0;
	left: 0px;
	right: 0px;
}
.tabs-content{
	padding: 8px 0;
}
.closebtn{
	background: #fff;
    border: 1px solid #ccc;
    border-radius: 100%;
    margin-left: 10px;
    color: #ccc;
    width: 20px;
    cursor: pointer;
}
.pane{
	    width: 200px;
	transform: translateX(0px);
}
.css3translate{
	transition: 5s;
	transform: translateX(145px);
}
.translate0{
	transform: translateX(0px);
}