<!DOCTYPE html>
<html>
	<head>
		<title>标签页组件练习</title>
		<link rel="stylesheet" type="text/css" href="css/tabs.css">
	</head>
	<body>
		<div id="app" v-cloak>
			<div>
				<p>{{activeKey}}</p>
				<tabs v-model="activeKey" @on-tab-remove="handleTabRemove">
					<pane label="标签一" name="1" v-if="tab1" :closable="true" >
						标签一的内容
					</pane>
					<pane label="标签二" name="2" v-if="tab2">
						标签二的内容
					</pane>
					<pane label="标签三" name="3" v-if="tab3">
						标签三的内容
					</pane>
				</tabs>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		<script src="js/pane.js"></script>
		<script src="js/tabs.js"></script>
		
		<script  type="text/javascript">
			var app =new Vue({
				el:"#app",
				data:{
					activeKey:"1",
					tab1: true,
					tab2: true,
					tab3: true
				},
				methods: {
					handleTabRemove (name) {
		                this['tab' + name] = false;
		            }
				}
			})
		</script>
	</body>
</html>